/* generals */
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #444;
    font-size: 1.4em;
}

/* sidebar */
.sidebar {
    background-color: #333;
    width: 280px;
    height: 100vh; /* full height of the viewport */
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.sidebar h2, .sidebar h1, .sidebar p {
    padding-left: 4px;
}
a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 12px;
}
a:hover {
    background-color: #292929;

}
/* main */
main {
    display: grid;
    grid-template-columns:1fr;
    margin-left:280px;
}
main h1, main h2, main p {
    padding-left: 12px;
}
main h1:nth-of-type(2){
    border-bottom: 1px solid white;
    padding-bottom: 12px;
}
img {
    width: 100%;
}

/* footer */
footer {
    background-color: #111;
    height: 300px;
    padding-left: 4px;
    padding-top: 12px;
}