@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: .8fr 1.3fr 1fr;
    font-size: 2em;
    max-width:1700px;
    margin: 0 auto;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;

    /* convert to dark theme */
    background-color: #1d1e21;
    color: #d6d8ee;
}
/* header */
header{
    grid-column: 1/4;
    margin-bottom: 72px;
}
header h1{
    padding: 48px 0;
    text-align: center;
}
nav{
    /* background-color: orange; */
    height:80px;
    display: flex;
    justify-content: right;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}
nav a{
    margin-right:24px;
    text-decoration: none;
    color: #d6d8ee;
    
}

/* main 3 columns below header */
/* column left */
.column-left{
    /* background-color: blue; */
    border-right: 1px solid white;
    text-align: right;
    
}
.column-left h3, .column-left h4{
    margin-bottom: 4px;
}

/* column center */
.column-center{
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
}
.column-center h3{
    margin-bottom: 6px;
}
#col-center-img{
    background-color: blue;
    display: block;
    height: 430px;
    width:300px;
    margin: 0 auto;
    margin-bottom:6px;
}

.column-right{
    border: 1px solid white;
    margin-right: 72px;
    
}
div{
    padding: 12px;
}
.selecters{
    display: flex;
    justify-content: space-between;
}

select{
    width: 264px;
    background-color: #d6d8ee;
}