*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color:darkblue; */
    background-color: black;
    margin: 0 auto;
    color: white;
}
header{
    /* background-color: purple; */
    border-bottom: 1px solid gray;
    text-align: center;

}
header button{
    height: 56px;
    width: 100px;
    background-color: black;
    border: 1px solid black;
    color: white;
    margin: 0;
    padding: 0;
    margin: 0 80px;
}
main{
    /* background-color: pink; */
    height: 100vh;
    display: grid;
    grid-template-columns: .8fr 1.2fr 1fr;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/* left column elements */
#left{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 40%;
}
#left a{
    font-size: 24px;
    text-decoration: none;
}



/* middle column elements */
#middle{
    /* background-color: red; */
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-right:16px;
    padding-left: 16px;

}
.box{
    border: 2px solid green;
    height: 50%;
    width: 100%;
    background-color: #111;
}

/* right column elements */
#right{
    /* background-color: purple; */
}
footer{
    background-color: black;
    height: 200px;
}

